/*******fonts******/
@font-face {
	font-family: "KoPub Batang";
	src: url("../fonts/KoPubBatang-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 

/*******************************************/

a{
	text-decoration: none;
	color: black;
}
header ul a:nth-child(2){
	background: rgba(0, 0, 0, 0.103);
}
.halls {
	width: 75%;
	margin: 0 auto;
	margin-top: 130px;
}
.halls__hall {
	font-family: KoPub Batang;
	font-size: 36px;
	font-weight: 800;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: center;

}
.halls__name {
	margin-bottom: 40px;
	margin-top: 90px;
}
.halls__photo {
	display: flex;
}
.halls__photoleft {
	width: 70%;
}
.halls__photoleft img{
	width: 102%;
}
.halls__photoright {
	width: 23%;
	height: 100%;
	display: inline-flex;
	justify-content: space-between;
	flex-direction: column;
	margin-left: 2%;
}
.halls__photoright img{
	width: 100%;
	
}