@import url(https://fonts.googleapis.com/css?family=Jost:regular);

header ul a:nth-child(1){
	background: rgba(0, 0, 0, 0.103);
}
.fullscreen{
	position: relative;
	margin: 90px 0 0 0;
	width: 100%;
	height: 100%;

}

.fullscreen img{
	width: 100%;
	height: 100%;
}

.wywern {
	display: flex;
	margin: 0 auto;
	margin-top: 50px;
	width: 90%;
}
.wywern__img {
	width: 90%;
}

.wywern__img img{
	width: 100%;
}
.wywern__text {
	width: 40%;
}

.wywern__text a{
	text-decoration: none;
	color: #000;
}
.wywern__header {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 70px;
	align-items: center;
	text-align: center;
}
.wywern__maintext {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 30px;
}
.wywern__button {
	width: 200px;
	height: 70px;
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 70px;
	margin-left: 50%;
	margin-top: 30px;
	border: 1px solid #000000;
	text-align: center;
	align-items: center;
}

.halls {
	height: 600px;
	width: 100%;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 53px;
	margin-top: 90px;
}
.halls__hedder {
	margin-bottom: 75px;
	align-items: center;
	text-align: center;
}
.halls__content {
	width: 79%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.halls__block {
	width: 22.5%;
}
.halls__img img{
	width: 100%;
	border-radius: 18px;
}
.halls__name {
	margin: 0 auto;
	width: 200px;
	height: 85px;
	background: #FAF3F0;
	border-radius: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 85px;
	align-items: center;
	text-align: center;
	margin-top: 34px;
}
.halls__block a{
	color: #000;
	text-decoration: none;
}
.blackblock {
	width: 100%;
	height: 410px;
	background: rgb(128, 126, 126);
}
.blackblock__text {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 58px;
	color: #FFFFFF;
	width: 84%;
	margin: 0 auto;
}

.form {
	font-family: 'Arial';
	width: 75%;
	margin: 0 auto;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 43px;
	align-items: center;
	text-align: center;
}
.form a{
	text-decoration: none;
	color: #000;
}
.form__header {
	font-family: 'Jost';
	font-weight: 400;
	font-size: 48px;
	line-height: 53px;
	margin: 50px 0 50px 0;
}
.form__field {
	margin-top: 30px;
	width: 100%;
}

.form__field input{
	text-align: center;
	width: 100%;
	height: 30px;
	border: 0px;
	border-bottom: 2px solid #000;
}

.form__field input:focus-visible{
	border: 0px;
}

.form__button{
	width: 200px;
	height: 70px;
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 70px;
	border: 1px solid #000000;
	text-align: center;
	align-items: center;
	margin-top: 80px;
}